{% extends 'portal/base.html' %}
{%load bootstrap4%}
{% load static %}
{{block.super}}
{%block content%}
<section class="signup">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="signup-form">
                <h2 class="form-title">Student signUp</h2>
                <form method="POST"class="register-form" id="register-form">
                  {%csrf_token%}
                  {%bootstrap_form form%}
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
                <div class="text-muted">
                    <small>Already have an account..? <a href="{% url 'login' %}">Log In</a> </small>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="signup-image">
                <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
            </div>
          </div>
        </div>
  </div>
</section>


{%endblock%}




